/*
  SPACING
  SYSTEM
  (px)
  2
  /
  4
  /
  8
  /
  12
  /
  16
  /
  24
  /
  32
  /
  48
  /
  64
  /
  80
  /
  96
  /
  128
  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", "Poppins", sans-serif;
  font-weight: 400;
  /* line-height: 1.5; */
  /* margin: 0 auto; */
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-ct {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
nav a {
  color: #777e90;
  font-weight: 600;
  font-size: 1.4rem;
}
.nav-btn {
  display: block;
  color: #23262f;
  background-color: #e6e8ec;
  padding: 1rem 2rem;
  border-radius: 40px;
}

header {
  background-color: #f4f5f6;
  padding: 0 5%;
}
.about-section {
  background-color: #f4f5f6;
  padding: 0 5%;
}
.about {
  padding: 4.8rem 0 9.6rem 0;
}

.about img {
  width: 90%;
}
h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: -2.75;
  letter-spacing: -1px;
}
.about-txt--1 {
  color: #23262f;
  font-size: 2.4rem;
  font-family: "Poppins";
  line-height: 1.25;
}
.about-txt--2 {
  color: #777e90;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Poppins";
}
.about-txt {
  /* width: 90%; */
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  /* justify-content: flex-start; */
}

.abt-btn {
  border: none;
  font-weight: 700;
  color: #fcfcfd;
  background-color: #3b71fe;
  padding: 1.6rem 2.4rem;
  width: fit-content;
  border-radius: 4.8rem;
}
.about-txt img {
  height: 3.2rem;
  width: 4.8rem;
  border-radius: 2rem;
  margin-top: 1.2rem;
}
.angel {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  color: #777e90;
  padding: 8rem 0;
}
blockquote {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  /* color: #777e90; */
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-family: "Poppins";
}
.profile img {
  width: 4.8rem;
  margin-bottom: 1.6rem;
}
.profile-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #23262f;
  letter-spacing: -1.25px;
}
.title {
  font-size: 1.4rem;
}

.values {
  padding: 6.4rem 0 9.6rem 0;
}
h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #23262f;
  text-align: center;
  margin-bottom: 6.4rem;
}
.check-item {
  padding: 4.8rem;
  background-color: #f4f5f6;
}
.check-icon {
  font-size: 4.4rem;
}
.value-txt {
  margin-top: 2.4rem;
}
.value-title {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-bottom: 0.8rem;
}
.value-p {
  font-size: 1.4rem;
  font-family: "Poppins";
  color: #777e90;
  line-height: 1.6;
}
.customer {
  width: 50%;
  /* justify-content: center; */
  align-items: center;
  padding: 4.8rem 0 9.6rem 0;
}
.p-sub {
  font-size: 1.6rem;
  color: #777e90;
  font-family: "Poppins";
}
.p-head {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Poppins";
  color: #23262f;
}

.funfacts {
  padding: 6.4rem 0;
}
.funfacts img {
  width: 85%;
}

.fgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ff-txt {
  padding-top: 3.2rem;
}
.funfacts h2 {
  text-align: left;
  margin-bottom: 2.4rem;
}
.ff-list {
  display: flex;
  flex-direction: column;
  grid-area: 1.6rem;
  margin-bottom: 1.6rem;
}
.ff-list p {
  font-size: 2.4rem;
  color: #777e90;
  font-family: "Poppins";
}
.ff-list p span {
  font-size: 4.8rem;
  font-weight: 700;
  color: #23262f;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 4.8rem 5%;
}
.details-title {
  font-size: 2.4rem;
  font-family: "Poppins";
  font-weight: 600;
}
/* .details-div {
  height: 27rem;
} */

.my-image {
  background: url("./woonders-img/Frame\ 14.svg");
  background-size: cover;
  background-position: center;
}
.details-item {
  background-color: #f4f5f6;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.details-icon {
  /* font-size: 4.4rem; */
  width: 4.4rem;
}
.detail-title {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
  margin-bottom: 0.8rem;
}
.detaill-img {
  width: 100%;
  width: fit-content;
}
.details-p {
  font-size: 1.4rem;
  font-family: "Poppins";
  color: #777e90;
  line-height: 1.6;
}
.details-item a {
  color: #3b71fe;
  font-size: 1.6rem;
  font-weight: 700;
}

.strong {
  padding: 8rem 5%;
}
.strong h3 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -1.2px;
}
.crew {
  font-size: 2.4rem;
  font-family: "Poppins";
  color: #23262f;
  letter-spacing: -1px;
  margin-bottom: 2.4rem;
}
.p-little {
  font-size: 1.6rem;
  font-family: "Poppins";
  color: #777e90;
}

.team-section {
  background-color: #f4f5f6;
}
.team-item {
}
.grid {
  display: grid;
}
.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}
.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.btn {
  border: none;
  font-weight: 700;
  color: #fcfcfd;
  background-color: #3b71fe;
  padding: 1.6rem 2.4rem;
  border-radius: 4.8rem;
}
