* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /* margin: 0 auto; */
}
.container {
  max-width: 100rem;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-ct {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 2rem;
}
li {
  color: #777e90;
  font-weight: 600;
  font-size: 1.6rem;
}
